*.pyo
*.pyc
__pycache__
*.log
*.sql
*.shp
*.twb
*.tde
*.twbx
*.twbr
*.pickle
.ipynb_checkpoints
/dist
src/data_management/raw_data/*
!src/data_management/raw_data/cer_data
!src/data_management/raw_data/tmx
!src/data_management/raw_data/traditional_territory/TMX_IAMC_Indigenous_Community_Profiles.xlsx
node_modules
npm-debug.log
.DS_Store
/*.env
