<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head title="Community Profiles Prototype"}}
  </head>
  <body>
    <div class="container-fluid mrgn-bttm-sm">
      {{> h1 h1Text="Community Profiles Prototype" updated="Updated January 2022"}}
      <div class="row" id="summary-row">
        <div class="col-md-4 col-sm-12 summary-point">
          <div class="alert alert-warning">
            <p id="overlap-meta-point"></p>
          </div>
        </div>
        <div
          class="col-md-4 col-sm-12 summary-point"
          id="incident-meta-point-on"
        ></div>
        <div
          class="col-md-4 col-sm-12 summary-point"
          id="incident-meta-point-off"
        ></div>
      </div>
      <div class="row map-row">
        <div class="col-md-12 col-sm-12 map-col" id="error-container">
          <section class="panel panel-default" id="map-panel">
            <header
              class="panel-heading"
              id="map-panel-heading"
            >
              <div id="find-communities-container"></div>
              <button
                type="button"
                id="full-screen-btn"
                class="btn btn-primary btn-xs header-btn"
                onclick="openFullscreen();"
              >
                Enter Fullscreen
              </button>
            </header>
            <div class="panel-body" id="map-panel-body">
              <div id="map">
                <div class="loader"></div>
              </div>
            </div>
            <footer
              class="panel-footer"
              id="map-panel-footing"
            >
              <h5 class="panel-title header-text" id="election-header">
                Election Filter
              </h5>
              <input
                class="header-btn"
                name="html5shim-1"
                id="election-range-slider"
                type="range"
                min="0"
                max="366"
                step="1"
                value="366"
              />
              <div id="election-days-display"></div>
            </footer>
          </section>
        </div>
      </div>
      <div class="row mrgn-tp-lg wb-eqht">
        <div class="col-md-4">
          <section class="alert alert-info hght-inhrt">
            <h3>Tutorial</h3>
            <a
              href="/tutorial.html"
              target="_blank"
              rel="noopener noreferrer"
              >Open map tutorial in new tab.</a
            >
          </section>
        </div>
        <div class="col-md-4">
          <section class="alert alert-info hght-inhrt">
            <h3>Submit Issues</h3>
            Please email
            <a href="mailto:grant.moss@cer-rec.gc.ca"
              >Grant Moss (grant.moss@cer-rec.gc.ca)</a
            >
            if you notice errors or have feedback on this application.
          </section>
        </div>
        <div class="col-md-4">
          <section class="alert alert-info hght-inhrt">
            <h3>Active Construction</h3>
            <a
              href="https://www.transmountain.com/all-communities?b=47.781%2C-128.966%2C54.646%2C-107.323"
              target="_blank"
              rel="noopener noreferrer"
              >Trans Mountain Website</a
            >
          </section>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <details>
            <summary>
              <strong id="treaty-length-title"></strong>
            </summary>
            <div id="treaty-length"></div>
          </details>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
