<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head title="Community Profiles Prototype"}}
  </head>
  <body>
    <div class="container-fluid mrgn-bttm-sm" id="error-container">
      <div class="row map-row">
        <div class="col-md-12 col-sm-12 map-col">
          <section class="panel panel-default" id="map-panel">
            <header class="panel-heading" id="map-panel-heading">
              <div id="find-communities-container">
                <input
                  type="text"
                  id="community-search"
                  name="community-search"
                  list="suggestions"
                />
                <button
                  class="btn btn-primary btn-xs header-btn"
                  id="find-communities-btn"
                >
                  Find Community
                </button>
                <datalist id="suggestions"> </datalist>
                <div id="community-search-error"></div>
              </div>
              <div class="map-row">
                <button
                  type="button"
                  class="btn btn-primary btn-xs header-btn"
                  onclick=" window.open('/tutorial.html', '_blank'); return false;"
                >
                  Open Tutorial
                </button>
              </div>
            </header>
            <div class="panel-body" id="map-panel-body">
              <div id="map">
                <div class="loader"></div>
              </div>
            </div>
            <footer class="panel-footer" id="map-panel-footing">
              <h5 class="panel-title header-text" id="election-header">
                Election Filter
              </h5>
              <input
                class="header-btn"
                name="html5shim-1"
                id="election-range-slider"
                type="range"
                min="0"
                max="366"
                step="1"
                value="366"
              />
              <div id="election-days-display"></div>
            </footer>
          </section>
        </div>
      </div>
    </div>
    {{>footer}}
  </body>
</html>
