<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="../../GCWeb/assets/favicon.ico"
      rel="icon"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../../GCWeb/css/theme.min.css" />
    <link rel="stylesheet" href="../../GCWeb/css/gcwu.custom.css" />
    <noscript>
      <link rel="stylesheet" href="../../GCWeb/wet-boew/css/noscript.min.css" />
    </noscript>
    <title>Pipeline Profiles</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Pipeline Profile Section</h1>
          <p class="small">Updated January 2022</p>
          <div class="row wb-eqht mrgn-tp-sm">
            <div class="col-md-4">
              <section class="jumbotron hght-inhrt">
                <p>Reconciliation with Indigenous Peoples</p>
                <a
                  class="btn btn-info btn-lg"
                  role="button"
                  href="https://www.cer-rec.gc.ca/en/consultation-engagement/indigenous-engagement/reconciliation-indigenous-peoples/index.html"
                  >Learn more</a
                >
              </section>
            </div>
            <div class="col-md-4">
              <section class="jumbotron hght-inhrt">
                <p>Indigenous Advisory Committee (IAC)</p>
                <a
                  class="btn btn-info btn-lg"
                  role="button"
                  href="https://www.cer-rec.gc.ca/en/about/who-we-are-what-we-do/organization-structure/indigenous-advisory-committee/index.html"
                  >Learn more</a
                >
              </section>
            </div>
            <div class="col-md-4">
              <section class="jumbotron hght-inhrt">
                <p>Crown Consultation & duty to consult</p>
                <a
                  class="btn btn-info btn-lg"
                  role="button"
                  href="https://www.cer-rec.gc.ca/en/consultation-engagement/crown-consultation/index.html"
                  >Learn more</a
                >
              </section>
            </div>
          </div>
          <p>
            A significant amount of CER regualted pipelines, facilities, and
            events reside within First Nations Reserves, Traditional
            Territories, and Treaty Lands. CER events and operations such as
            pipeline incident reviews, remediation monitoring, inspections,
            complaince verification activities, and others rely on Indigenous
            groups as a key stakeholder.
          </p>
          <p>
            This pipeline profiles section and dashboard highlights the
            intersections and proximity of CER regulated infrastructure and
            activities with First Nations Reserves, as well as historic treaty
            lands.
          </p>
          <p>
            Reconciliation with Canada's First Nations communities is one of the
            CER's four strategic priorities. Learn more about how we engage with
            Indigenous Peoples
            <a
              href="https://www.cer-rec.gc.ca/en/consultation-engagement/indigenous-engagement/index.html"
              >here</a
            >.
          </p>
          <p>
            We invite Indigenous communities to be more involved, not just in
            our hearings and oversight work, but also in our energy and pipeline
            information programs. Please reach out to
            <a href="mailto:pipeline.info@cer-rec.gc.ca"
              >Pipeline.Info@cer-rec.gc.ca</a
            >
            for more information.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="iamc-flag"></div>
          <div id="indigenous-dynamic-text"></div>
        </div>
      </div>
      <!-- start dashboard -->
      <div class="row" id="reserve-dashboard">
        <div class="col-md-9 col-sm-12">
          <section class="panel panel-default" id="map-panel">
            <header class="panel-heading">
              <h5 class="panel-title" id="leaflet-map-title"></h5>
            </header>
            <div class="panel-body" id="map">
              <div class="loader"></div>
            </div>
          </section>
        </div>
        <div class="col-md-3 col-sm-12">
          <div id="reset-small"></div>
          <section class="panel panel-default fn-panel" id="click-fn-info">
            <header class="panel-heading">
              <h5 class="panel-title">Intersection Details</h5>
            </header>
            <div class="panel-body">
              <div id="intersection-details">
                <div class="alert alert-info">
                  <p>
                    Click on a
                    <span class="region-click-text legend-first-nation"
                      >region</span
                    >
                    to view extra info
                  </p>
                </div>
              </div>
            </div>
          </section>
          <div id="reset-large"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="territory-intro"></div>
          <section class="panel panel-default">
            <header class="panel-heading">
              <h5 class="panel-title" id="territory-title"></h5>
            </header>
            <div class="panel-body" id="territory-panel"></div>
            <footer class="panel-footer">
              Source:
              <a href="https://native-land.ca/" target="_blank"
                >native-land.ca</a
              >, CER calculations
            </footer>
          </section>
          <details>
            <summary id="treaty-length-title"></summary>
            <div id="treaty-length"></div>
          </details>
          <details class="mrgn-bttm-lg mrgn-tp-sm">
            <summary>Source and Description</summary>
            <p>Coming soon!</p>
          </details>
          <section class="alert alert-warning">
            <h3>Data & Calculation Disclaimer</h3>
            <p class="small">
              The information (map, statistics, and distances) concerning the
              overlap between CER regulated pipelines, events, and Indigenous
              Lands is an estimate based on Geographic Information System (GIS)
              projection model assumptions. The information in this dashboard
              may be incomplete and is subject to change with data updates, data
              improvements, and changes to the GIS model. In addition to the
              information listed above, there may be additional Indigenous
              individuals, organizations, and communities impacted by this
              pipeline system.
            </p>
          </section>
        </div>
      </div>
      <!-- end dashboard -->
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script src="../../GCWeb/wet-boew/js/wet-boew.min.js"></script>
  </body>
</html>
