<section class="alert alert-info hght-inhrt">
    <h3>Submit Issues</h3>
    Please email
    <a href="mailto:grant.moss@cer-rec.gc.ca"
    >Grant Moss (grant.moss@cer-rec.gc.ca)</a
    >
    if you notice errors or have feedback on this application.
</section>