<html lang="en">
  <head>
    {{> head title="Community Profiles Tutorial"}}
  </head>
  <body>
    <div class="container-fluid mrgn-bttm-sm">
      {{> h1 h1Text="Community Profiles Tutorial" updated="Updated January 2022"}}
      <div class="row">
        <div class="col-md-12">
          <p>
            This tutorial will teach you how to use the interactive map features
            of the Community Profiles web app. For additional information, or to
            request a demo, please email
            <a href="mailto:grant.moss@cer-rec.gc.ca"
              >Grant Moss (grant.moss@cer-rec.gc.ca)</a
            >.
          </p>
          {{> submitIssues}}
          <section class="panel panel-default">
            <header class="panel-heading">
              <h5 class="panel-title">Table of contents</h5>
            </header>
            <div class="panel-body">
              <ul>
                <li>
                  <a href="#general-instructions">General Instructions</a>
                </li>
                <li>
                  <a href="#basic-map-navigation">Basic Map Navigation</a>
                </li>
                <li>
                  <a href="#communities">Map Feature - Communities</a>
                </li>
                <li>
                  <a href="#tmx"
                    >Map Feature - TMX Centerline, Kilometer Posts, and
                    Spreads</a
                  >
                </li>
                <li>
                  <a href="#reserves"
                    >Map Feature - First Nations Reserves and Pipeline
                    Incidents</a
                  >
                </li>
                <li>
                  <a href="#elections">Map Feature - Election Filter</a>
                </li>
                <li>
                  <a href="#find-me">Map Feature - Find Me</a>
                </li>
              </ul>
            </div>
          </section>
          <details open="open" class="mrgn-bttm-md" id="general-instructions">
            <summary class="instruction-header">General Instructions</summary>
            <ul>
              <li>For the best experience, avoid using Internet Explorer.</li>
              <li>
                Larger screen sizes (tablet, laptop, desktop) will be easier to
                use compared to mobile phones.
              </li>
            </ul>
          </details>
          <details open="open" class="mrgn-bttm-md" id="basic-map-navigation">
            <summary class="instruction-header">Basic Map Navigation</summary>
            <p>Laptop/Desktop</p>
            <ul>
              <li>
                While hovering over the map, use your mouse or trackpad to zoom
                in and out of the map.
              </li>
            </ul>
            <p>Phone/tablet</p>
            <ul>
              <li>
                Use two fingers in a pinch action on the screen to zoom in and
                out.
              </li>
            </ul>
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.zoom}} 
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.fullscreen}} 
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.reset}}
          </details>
          <details open="open" class="mrgn-bttm-md" id="communities">
            <summary class="instruction-header">
              Map Feature - Communities
            </summary>
            <p>
              The main content of this app is contained in the
              <i>community</i>
              layer. Communities are represented on the map as grey circles with
              a large, transparent circular border. You can zoom in to gain a
              better view of communities that are clustered together, and
              evaluate the approximate location of the community headquarters.
            </p>
            <p>
              The location of each community has been estimated. The exact point
              on the map often corresponds to something like the band office or
              a community hall. The large transparent circular border around the
              grey circle is used to indicate that the community is not
              neccecarily a pinpoint on the map.
            </p>
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.communityTooltip}}
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.communityPopup}}
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.communitySearch}}
          </details>
          <details open="open" class="mrgn-bttm-md" id="tmx">
            <summary class="instruction-header">
              Map Feature - TMX Spreads and Existing Mainline
            </summary>
            <p>
              The TMX and existing mainline data comes from the
              <a
                href="https://www.transmountain.com/all-communities?b=47.781%2C-128.966%2C54.646%2C-107.323"
                target="_blank"
                rel="noopener noreferrer"
              >
                Trans Mountain Website.
              </a>
              The project spreads are color coded, and have additional 
              functionality detailed below. The existing mainline is 
              visible as a thicker (for illustration purposes) grey line, 
              and doesnt have any additional click functionality.
            </p>
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.kpTooltip}}
          </details>
          <details open="open" class="mrgn-bttm-md" id="reserves">
            <summary class="instruction-header">
              Map Feature - First Nations Reserves and Pipeline Incidents
            </summary>
            <p>
              In addition to communities, there are a collection of First
              Nations Reserves displayed on the map as blue regions with a
              bright yellow border. Behind the scenes, there is a GIS process
              that has identified these reserves as having a direct overlap with
              TMX or the existing mainline.
            </p>
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.reserveTooltip}}
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.reservePopup}}
          </details>
          <details open="open" class="mrgn-bttm-md" id="elections">
            <summary class="instruction-header">
              Map Feature - Election Filter
            </summary>
            <p>
              Directly below the map, there is a range slider with the default
              value set to <i>All</i>. This map feature can be used to find
              communities with upcomming elections.
            </p>
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.electionSlider}}
          </details>
          <details open="open" class="mrgn-bttm-md" id="find-me">
            <summary class="instruction-header">Map Feature - Find Me</summary>
            <p>
              This map feature uses data from
              <a
                href="https://native-land.ca/"
                target="_blank"
                rel="noopener noreferrer"
                >native-land.ca</a
              >
              as well as your current location to evaluate which Indigenous
              Traditional Territories you are on. Make sure you have location
              services enabled in your internet browser setting to use this
              feature.
            </p>
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.findMe}}
            {{> tutorialImage text=htmlWebpackPlugin.options.page.imageSections.findMePopup}}
          </details>
        </div>
      </div>
    </div>
    {{> footer}}
  </body>
</html>
