body {
  font-size: 20px;
  line-height: 1.65em;
}
#intersection-details p {
  font-size: 16px !important;
  line-height: 1.4375 !important;
}
#intersection-details caption {
  font-size: 0.9em;
}
#intersection-details td {
  font-size: 16px !important;
}