@import url("responsive.css");

#summary-row {
  display: flex;
  flex-flow: row wrap;
}

.summary-point {
  display: flex;
  flex-flow: column;
}

.summary-point .alert {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

.map-row {
  height: 80%;
}

.header-footer-percent {
  height: 6%;
}

#map-panel-heading {
  position: relative;
}

#map-panel-footing {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
}

#election-range-slider {
  flex: 1;
  margin-left: 20px;
  margin-right: 10px;
}

.header-btn {
  position: relative !important;
}

.header-text {
  display: inline !important;
}

.text-val {
  font-weight: bold;
  font-style: normal;
}

.territory-popup {
  overflow-y: hidden;
  overflow-x: hidden;
}

.iamc-popup tr {
  font-size: 14px;
}

.iamc-popup p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

#reserve-popup {
  overflow: auto;
}

#image-disclaimer.alert > :first-child:before {
  position: relative !important;
}
#image-disclaimer {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
}
#image-disclaimer p {
  margin: 1px;
  font-size: 14px;
}
