@import url("cer.css");
@import url("sizing.css");
@import url("loader.css");
@import url("responsive.css");

#summary-row {
  display: flex;
  flex-flow: row wrap;
}

.summary-point {
  display: flex;
  flex-flow: column;
}

.summary-point .alert {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

.header-btn {
  margin-left: auto;
}

.header-text {
  display: inline !important;
}

.text-val {
  font-weight: bold;
  font-style: normal;
}

.territory-popup {
  overflow-y: hidden;
  overflow-x: hidden;
}

.territory-popup tr {
  font-size: 14px;
}

.territory-popup p {
  font-size: 14px;
  margin-bottom: 0px !important;
}

#reserve-popup {
  overflow: auto;
}

#image-disclaimer.alert > :first-child:before {
  position: relative !important;
}

#image-disclaimer {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
}

#image-disclaimer p {
  margin: 1px;
  font-size: 14px;
}

.center-vert {
  margin: 0;
  top: 50%;
  position: absolute;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.region-click-text {
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  opacity: 0.8;
  padding: 0.01em 0.15em 0.01em 0.25em;
  margin-right: 0.05em;
  border-radius: 0.2em;
  box-shadow: 0 0 10px 5px #ffbe4b;
}

.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 15px;
}

.center-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.legend {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.legend h4 {
  margin: 0 0 0px;
  color: #777;
  font-weight: bolder;
  font-size: large;
}

.no-hover {
  cursor: grab !important;
}

.map-tooltip tr {
  border-bottom: 2px solid #dcdcdc;
  overflow: visible;
}
.map-tooltip td {
  padding-bottom: 1px;
  padding-top: 1px;
}

.leaflet-bottom.leaflet-right .leaflet-control {
  margin-bottom: 0px;
}

.leaflet-bottom.leaflet-right {
  width: 100%;
}

.leaflet-bottom.leaflet-right .leaflet-control {
  max-width: 40%;
}

.leaflet-control .panel {
  margin-bottom: 5px;
}

.leaflet-control .panel-body {
  max-height: 250px;
  width: inherit;
  overflow-y: auto;
  margin: 0px !important;
}
