#summary-row {
  display: flex;
  flex-flow: row wrap;
}

.summary-point {
  display: flex;
  flex-flow: column;
}

.summary-point .alert {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

.header-text {
  display: inline !important;
}

.text-val {
  font-weight: bold;
  font-style: normal;
}
