.panel-heading {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-btn {
  margin-left: auto;
}

#map-panel-footing {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

/* community search  */
#find-communities-container {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

#community-search-error .alert {
  margin-bottom: 0px !important;
  padding: 3px !important;
  margin-left: 10px;
}

#community-search-error {
  display: flex;
}

#community-search {
  max-width: 100%;
}

#election-range-slider {
  flex: 1;
  min-width: 230px !important;
  margin-left: 20px;
  margin-right: 10px;
}
