/* 
responsive style options 
*/

.tablet-show {
  display: none;
}

.tablet-hide {
  display: none;
  visibility: hidden;
  height: 0px;
}

/* small screen tablet (col-sm) */
@media only screen and (max-width: 992px) {
  .leaflet-bottom.leaflet-right .leaflet-control {
    max-width: 50% !important;
  }
}

/* extra small screen phones (col-xs) */
@media only screen and (max-width: 768px) {
  #election-range-slider {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .legend {
    display: none;
    visibility: hidden;
  }
  .leaflet-bottom.leaflet-right .leaflet-control {
    max-width: 100% !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
  }
  .leaflet-control .panel-body {
    max-height: 170px;
  }
  .leaflet-control .panel {
    margin-bottom: 0px;
  }
}
