/* 
responsive style options 
*/

.tablet-show {
  display: none;
}

/* large screens */
@media only screen and (min-width: 1600px) {
  #map-panel {
    min-height: 780px;
  }
}

/* large screens */
@media only screen and (max-width: 1600px) {
  #map-panel {
    min-height: 700px;
  }
}

/* medium screen tablet */
@media only screen and (max-width: 1200px) {
  .tablet-show {
    display: block !important;
  }
  .tablet-hide {
    display: none;
    visibility: hidden;
    height: 0px;
  }
  .map-row {
    height: 100%;
  }
  .map-col {
    padding: 0px;
  }
}

/* small screen tablet (col-sm) */
@media only screen and (max-width: 992px) {
  .tablet-show {
    display: block !important;
  }
  .tablet-hide {
    display: none;
    visibility: hidden;
    height: 0px;
  }
  .map-row {
    height: 100%;
  }
  .map-col {
    padding: 0px;
  }
  .leaflet-bottom.leaflet-right .leaflet-control {
    max-width: 50% !important;
  }
}

/* extra small screen phones (col-xs) */
@media only screen and (max-width: 768px) {
  .tablet-show {
    display: block !important;
  }
  .tablet-hide {
    display: none;
    visibility: hidden;
    height: 0px;
  }
  .map-row {
    height: 100%;
  }
  .map-col {
    padding: 0px;
  }
  #election-range-slider {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .legend {
    display: none;
    visibility: hidden;
  }
  .leaflet-bottom.leaflet-right .leaflet-control {
    max-width: 100% !important;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
  }
  .leaflet-control .panel-body {
    max-height: 170px;
  }
  .leaflet-control .panel {
    margin-bottom: 0px;
  }
}
